#Latar Belakang

Sebuah perusahaan e-commerce ingin menggali insight dari data-data transaksi yang dikumpulkan mulai dari Juli 2016 hingga Agustus 2018.

#Pernyataan Masalah

1. Bagaimana tren transaksi tiap tahunnya ?
2. Kategori barang apa yang paling banyak transaksi tiap tahunnya?
3. Status transaksi tiap tahunnya?

#Data Understanding & Cleaning

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go

In [ ]:
# Menampilkan Seluruh Data
df = pd.read_csv("/content/drive/MyDrive/Pakistan Largest Ecommerce Dataset.csv")
df

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (1,2,3,7,8,9,11,12,13,14,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Melihat dimensi awal data
df.shape

(1048575, 26)

In [ ]:
# Merubah Format kolom tanggal ke tipe data datetime
# Mengurutkan data berdasarkan tanggal dibuatnya transaksi
# Menambahkan kolom nama bulan
df['created_at'] = pd.to_datetime(df['created_at'])
df = df.sort_values(by = 'created_at')

df['Year'] = df['created_at'].dt.year
df['Month'] = df['created_at'].dt.month
df['Month_Name'] = df['created_at'].dt.month_name()
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Month_Name
0,211131.0,complete,2016-07-01,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN,July
375,211540.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147746,Beauty & Grooming,C-MUX-30078,...,2016-7,7-2016,FY17,43.0,NaN,NaN,NaN,NaN,NaN,July
374,211537.0,canceled,2016-07-01,Teenz_R-0172-7,2250.0,1.0,3749.0,100147744,Women's Fashion,\N,...,2016-7,7-2016,FY17,119.0,NaN,NaN,NaN,NaN,NaN,July
373,211536.0,canceled,2016-07-01,shoppingmania_18k Gold Filled Blue Ruby Neckla...,1499.0,1.0,3749.0,100147744,Women's Fashion,\N,...,2016-7,7-2016,FY17,119.0,NaN,NaN,NaN,NaN,NaN,July
372,211535.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147743,Beauty & Grooming,C-MUX-30078,...,2016-7,7-2016,FY17,43.0,NaN,NaN,NaN,NaN,NaN,July

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1048575 entries, 0 to 1048574
Data columns (total 27 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  datetime64[ns]
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447349 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
 26  Month_Name             584524 non-null  object
dtypes: datetime64[ns](1), float64(13), object(13)
memory usage: 224.0+ MB

In [ ]:
# Menampilkan statistik deskriptif untuk data-data numerik
df.describe()

,item_id,price,qty_ordered,grand_total,discount_amount,Year,Month,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,584524.000000,5.845240e+05,584524.000000,5.845240e+05,584524.000000,584524.000000,584524.000000,584513.000000,0.0,0.0,0.0,0.0,0.0
mean,565667.074218,6.348748e+03,1.296388,8.530619e+03,499.492775,2017.044115,7.167654,45790.511965,NaN,NaN,NaN,NaN,NaN
std,200121.173648,1.494927e+04,3.996061,6.132081e+04,1506.943046,0.707355,3.486305,34414.962389,NaN,NaN,NaN,NaN,NaN
min,211131.000000,0.000000e+00,1.000000,-1.594000e+03,-599.500000,2016.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,395000.750000,3.600000e+02,1.000000,9.450000e+02,0.000000,2017.000000,4.000000,13516.000000,NaN,NaN,NaN,NaN,NaN
50%,568424.500000,8.990000e+02,1.000000,1.960400e+03,0.000000,2017.000000,7.000000,42856.000000,NaN,NaN,NaN,NaN,NaN
75%,739106.250000,4.070000e+03,1.000000,6.999000e+03,160.500000,2018.000000,11.000000,73536.000000,NaN,NaN,NaN,NaN,NaN
max,905208.000000,1.012626e+06,1000.000000,1.788800e+07,90300.000000,2018.000000,12.000000,115326.000000,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Menampilkan statistik deskriptif untuk data-data non-numerik
df.describe(include='object')

,status,sku,increment_id,category_name_1,sales_commission_code,payment_method,Working Date,BI Status,MV,Customer Since,M-Y,FY,Month_Name
count,584509,584504,584524,584360,447349,584524,584524,584524,584524,584513,584524,584524,584524
unique,16,84889,408785,16,7226,18,789,4,9720,26,26,3,12
top,complete,MATSAM59DB75ADB2F80,100266667,Mobiles & Tablets,\N,cod,11/25/2016,Net,999,2016-11,11-2017,FY18,November
freq,233685,3775,72,115710,339001,271960,15169,234178,9516,82714,83928,306883,155456

## Missing Values

In [ ]:
# Melihat dan menyimpan nama kolom yang kosong
empty_col = []
for col in df:
  print(f"{col} = {df[col].nunique()}")
  if df[col].nunique() == 0:
    empty_col.append(col)

item_id = 584524
status = 16
created_at = 789
sku = 84889
price = 9121
qty_ordered = 74
grand_total = 36829
increment_id = 408785
category_name_1 = 16
sales_commission_code = 7226
discount_amount = 28058
payment_method = 18
Working Date = 789
BI Status = 4
 MV  = 9720
Year = 3
Month = 12
Customer Since = 26
M-Y = 26
FY = 3
Customer ID = 115326
Unnamed: 21 = 0
Unnamed: 22 = 0
Unnamed: 23 = 0
Unnamed: 24 = 0
Unnamed: 25 = 0
Month_Name = 12

In [ ]:
# Menghapus kolom dengan data kosong
df_clean = df.drop(empty_col,axis = 1)

In [ ]:
# Menampilkan data setelah kolom kosong dihapus
df_clean

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Month_Name
0,211131.0,complete,2016-07-01,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0,July
375,211540.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147746,Beauty & Grooming,C-MUX-30078,...,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,43.0,July
374,211537.0,canceled,2016-07-01,Teenz_R-0172-7,2250.0,1.0,3749.0,100147744,Women's Fashion,\N,...,7/1/2016,Gross,"2,250",2016.0,7.0,2016-7,7-2016,FY17,119.0,July
373,211536.0,canceled,2016-07-01,shoppingmania_18k Gold Filled Blue Ruby Neckla...,1499.0,1.0,3749.0,100147744,Women's Fashion,\N,...,7/1/2016,Gross,"1,499",2016.0,7.0,2016-7,7-2016,FY17,119.0,July
372,211535.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147743,Beauty & Grooming,C-MUX-30078,...,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,43.0,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048571,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048572,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048573,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048574,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Menampilkan jumlah data kosong di tiap kolomnya
df_clean.isnull().sum()

item_id                  464051
status                   464066
created_at               464051
sku                      464071
price                    464051
qty_ordered              464051
grand_total              464051
increment_id             464051
category_name_1          464215
sales_commission_code    601226
discount_amount          464051
payment_method           464051
Working Date             464051
BI Status                464051
 MV                      464051
Year                     464051
Month                    464051
Customer Since           464062
M-Y                      464051
FY                       464051
Customer ID              464062
Month_Name               464051
dtype: int64

In [ ]:
# Menghapus baris data dengan nilai kosong
df_clean = df_clean.dropna()

In [ ]:
# Menampilkan data setelah dihapus baris dengan nilai kosong
df_clean

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Working Date,BI Status,MV,Year,Month,Customer Since,M-Y,FY,Customer ID,Month_Name
0,211131.0,complete,2016-07-01,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,7-2016,FY17,1.0,July
375,211540.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147746,Beauty & Grooming,C-MUX-30078,...,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,43.0,July
374,211537.0,canceled,2016-07-01,Teenz_R-0172-7,2250.0,1.0,3749.0,100147744,Women's Fashion,\N,...,7/1/2016,Gross,"2,250",2016.0,7.0,2016-7,7-2016,FY17,119.0,July
373,211536.0,canceled,2016-07-01,shoppingmania_18k Gold Filled Blue Ruby Neckla...,1499.0,1.0,3749.0,100147744,Women's Fashion,\N,...,7/1/2016,Gross,"1,499",2016.0,7.0,2016-7,7-2016,FY17,119.0,July
372,211535.0,complete,2016-07-01,kcc_krone deal,360.0,1.0,360.0,100147743,Beauty & Grooming,C-MUX-30078,...,7/1/2016,Net,360,2016.0,7.0,2016-7,7-2016,FY17,43.0,July
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
584430,905106.0,canceled,2018-08-28,BAGFT5A3272925D642,224.0,1.0,2722.0,100562312,Beauty & Grooming,100559728,...,8/28/2018,Gross,224,2018.0,8.0,2018-8,8-2018,FY19,114788.0,August
584429,905105.0,canceled,2018-08-28,BAGPRO5B0FA123819C4,490.0,1.0,2722.0,100562312,Beauty & Grooming,100559728,...,8/28/2018,Gross,490,2018.0,8.0,2018-8,8-2018,FY19,114788.0,August
584428,905104.0,canceled,2018-08-28,BAGDW5A7038B3EF001,390.0,1.0,2722.0,100562312,Beauty & Grooming,100559728,...,8/28/2018,Gross,390,2018.0,8.0,2018-8,8-2018,FY19,114788.0,August
584427,905103.0,canceled,2018-08-28,BAGVIT5A9D1C61F3CCD,500.0,1.0,2722.0,100562312,Beauty & Grooming,100559728,...,8/28/2018,Gross,500,2018.0,8.0,2018-8,8-2018,FY19,114788.0,August
584426,905102.0,canceled,2018-08-28,BAGSUB5AE95657B8BF9,270.0,1.0,2722.0,100562312,Beauty & Grooming,100559728,...,8/28/2018,Gross,270,2018.0,8.0,2018-8,8-2018,FY19,114788.0,August

In [ ]:
# Menampilkan jumlah  data kosong di tiap kolom setelah dibersihkan
df_clean.isnull().sum()

item_id                  0
status                   0
created_at               0
sku                      0
price                    0
qty_ordered              0
grand_total              0
increment_id             0
category_name_1          0
sales_commission_code    0
discount_amount          0
payment_method           0
Working Date             0
BI Status                0
 MV                      0
Year                     0
Month                    0
Customer Since           0
M-Y                      0
FY                       0
Customer ID              0
Month_Name               0
dtype: int64

Kolom setelah data-data dan kolom yang tidak digunakan dihapus : 
1. ITEM_ID : Nomor urut dari barcode barang
2. STATUS : Status transaksi 
3. CREATED_AT : Tanggal dilakukannya transaksi
4. SKU : Kode unik untuk mengidentifikasi produk
5. PRICE : Harga Barang per unit
6. QTY_ORDERED : Total unit yang dipesan
7. GRAND_TOTAL : Total harga dalam transaksi
8. INCREMENT_ID : Kode struk
9. CATEGORY_NAME_1 : Kategori barang
10. SALES_COMMISION_CODE : Kode komisi penjualan
11. DISCOUNT_AMOUNT : Jumlah diskon
12. PAYMENT_METHOD : Metode pembayaran
13. WORKING_DATE : Jam kerja
14. BI_STATUS : Memberikan informasi terkait kelanjutan proses pemesanan barang
15. MV : Harga Barang satuan
16. YEAR : Tahun customer bergabung
17. MONTH : Bulan customer bergabung
18. CUSTOMER_SINCE : Informasi tanggal customer bergabung
19. M-Y : Informasi tentang bulan dan tahun terjadinya transaksi
20. FY : Tahun Fiskal Perusahaan
21. MONTH_NAME : Nama bulan

In [ ]:
# Menampilkan statistik deskriptif untuk data-data numerik
df_clean.describe()

,item_id,price,qty_ordered,grand_total,discount_amount,Year,Month,Customer ID
count,447329.000000,447329.000000,447329.000000,4.473290e+05,447329.000000,447329.000000,447329.000000,447329.000000
mean,488862.991431,5731.395280,1.207809,7.290913e+03,472.508023,2016.751040,8.125141,34895.250402
std,162315.878484,13225.061791,4.151440,6.754776e+04,1440.051200,0.536403,3.279017,27360.665721
min,211131.000000,0.000000,1.000000,-1.594000e+03,-599.500000,2016.000000,1.000000,1.000000
25%,350504.000000,349.000000,1.000000,8.490000e+02,0.000000,2016.000000,5.000000,9604.000000
50%,489396.000000,850.000000,1.000000,1.736100e+03,0.000000,2017.000000,9.000000,30862.000000
75%,618065.000000,3600.000000,1.000000,6.245000e+03,157.380000,2017.000000,11.000000,57018.000000
max,905171.000000,515975.000000,1000.000000,1.788800e+07,90300.000000,2018.000000,12.000000,115289.000000

In [ ]:
# Menampilkan statistik deskriptif untuk data non-numerik
df_clean.describe(include='object')

,status,sku,increment_id,category_name_1,sales_commission_code,payment_method,Working Date,BI Status,MV,Customer Since,M-Y,FY,Month_Name
count,447329,447329,447329,447329,447329,447329,447329,447329,447329,447329,447329,447329,447329
unique,16,61048,312139,16,7226,18,784,4,7867,26,26,3,12
top,complete,MATSAM59DB75ADB2F80,100266667,Mobiles & Tablets,\N,cod,11/25/2016,Net,999,2016-11,11-2017,FY17,November
freq,205378,3772,72,90790,338983,221264,15169,205788,7241,76992,83923,254686,155451

In [ ]:
# Melihat dimensi data setelah dibersihkan
df_clean.shape

(447329, 22)

# Analisis

## Melihat Tren Transaksi Tiap Tahunnya

In [ ]:
# Membuat fungsi untuk mengelompokan data berdasarkan x dan y axis menurut inputan tahunnya
def df_filter_trend(year, xaxis, yaxis):
    df_year_filter=df_clean[df_clean['Year']== year]
    df_cat_sales= df_year_filter.groupby(xaxis)[yaxis].sum().reset_index()
    df_cat_sort= df_cat_sales.sort_values([xaxis], ascending=True)
    return df_cat_sort

In [ ]:
# Memanggil fungsi dengan parameter created at dan grand total untuk tiap tahunnya
trend_2016= df_filter_trend(2016, "created_at", "grand_total")
trend_2017= df_filter_trend(2017, "created_at", "grand_total")
trend_2018= df_filter_trend(2018, "created_at", "grand_total")

In [ ]:
#membuat plot dan subplot untuk tiap tahunnya
fig = make_subplots(rows=3, cols=1, subplot_titles=("Tren Jumlah Transaksi di tahun 2016", "Tren Jumlah Transaksi di tahun 2017",
                                                    "Tren Jumlah Transaksi di tahun 2018"))

fig.append_trace(go.Scatter(
    x=trend_2016["created_at"],
    y=trend_2016["grand_total"],
    name="Sales in 2016",
), row=1, col=1)

fig.append_trace(go.Scatter(
    x=trend_2017["created_at"],
    y=trend_2017["grand_total"],
    name="Sales in 2017",
), row=2, col=1)

fig.append_trace(go.Scatter(
    x=trend_2018["created_at"],
    y=trend_2018["grand_total"],
    name="Sales in 2018",
), row=3, col=1)


fig.update_layout(height=800, width=900, title_text="Tren Jumlah Transaksi tiap tahunnya")
fig.update_layout(
paper_bgcolor = " #f2f2f2",
plot_bgcolor = " #f2f2f2",
font=dict(family='sans-serif',
                  color='black',
                  size=10),


)
fig.show()

Analisis :     

Dapat dilihat bahwa berdasarkan data dari tahun 2016-2017 bahwa ada kenaikan signifikan pada bulan desember, dan berdasarkan tahun 2017-2018 ada kenaikan signifikan pada bulan Mei.

## Melihat Kategori barang paling banyak transaksi

In [ ]:
# Membuat fungsi untuk mengelompokan data berdasarkan x dan y axis menurut inputan tahunnya
def df_filter_cat(year, xaxis, yaxis):
    df_year_filter=df_clean[df_clean['Year']== year]
    df_cat_sales= df_year_filter.groupby(xaxis)[yaxis].sum().reset_index()
    df_cat_sort= df_cat_sales.sort_values([yaxis], ascending=False)
    return df_cat_sort

In [ ]:
# Memanggil fungsi dengan parameter category name 1 dan grand total untuk tiap tahunnya
cat_2016= df_filter_cat(2016, "category_name_1", "grand_total")
cat_2017= df_filter_cat(2017, "category_name_1", "grand_total")
cat_2018= df_filter_cat(2018, "category_name_1", "grand_total")

In [ ]:
#membuat plot dan subplot untuk tiap tahunnya
fig = make_subplots(rows=3, cols=1, subplot_titles=("Kategori dengan transaksi terbanyak di tahun 2016", "Kategori dengan transaksi terbanyak di tahun 2017",
                                                    "Kategori dengan transaksi terbanyak di tahun 2018"))

fig.append_trace(go.Bar(
    x=cat_2016["category_name_1"],
    y=cat_2016["grand_total"],
    name="2016"
), row=1, col=1)

fig.append_trace(go.Bar(
    x=cat_2017["category_name_1"],
    y=cat_2017["grand_total"],
    name="2017"
), row=2, col=1)

fig.append_trace(go.Bar(
    x=cat_2018["category_name_1"],
    y=cat_2018["grand_total"],
    name="2018"
), row=3, col=1)

fig.update_yaxes(title=dict(text= "Sales"))
fig.update_layout(height=800, width=900, title_text="Kategori dengan transaksi terbanyak di tiap tahun")
fig.update_layout(
paper_bgcolor = " #f2f2f2",
plot_bgcolor = " #f2f2f2",
font=dict(family='sans-serif',
                  color='black',
                  size=10),


)

fig.show()

Analisis : 

Tiap tahun kategori Mobiles & Tablets mendominasi penjualan.

## Melihat Status transaksi tiap tahunnya

In [ ]:
# Memanggil fungsi dengan parameter status dan grand total untuk tiap tahunnya
cat_2016= df_filter_cat(2016, "status", "grand_total")
cat_2017= df_filter_cat(2017, "status", "grand_total")
cat_2018= df_filter_cat(2018, "status", "grand_total")

In [ ]:
#membuat plot dan subplot untuk tiap tahunnya
colors = ['rgb(177, 127, 38)', 'rgb(205, 152, 36)', 'rgb(99, 79, 37)',
                     'rgb(129, 180, 179)', 'rgb(124, 103, 37)']


specs = [[{'type':'domain'}, {'type':'domain'}, {'type':'domain'}], [{'type':'domain'},{'type':'domain'}, {'type':'domain'}]]
fig = make_subplots(rows=2, cols=3, specs=specs, subplot_titles=['2016', '', '2017', '', 
                                                                 '2018'])

# Define pie charts
fig.add_trace(go.Pie(labels=cat_2016["status"], values=cat_2016["grand_total"], name='2016 Data',
                     marker_colors=colors), 1, 1)
fig.add_trace(go.Pie(labels=cat_2017["status"], values=cat_2017["grand_total"], name='2017 Data',
                     marker_colors=colors), 1, 3)
fig.add_trace(go.Pie(labels=cat_2018["status"], values=cat_2018["grand_total"], name='2018 Data',
                     marker_colors=colors), 2, 2)


# Tune layout and hover info
fig.update_traces(hoverinfo='label+percent+name+value', textinfo='label')
fig.update(layout_showlegend=False)

fig = go.Figure(fig)

fig.update_layout(title_text="Status Transaksi di tiap tahunnya", title_x=0.5),

fig.update_layout(
paper_bgcolor = " #f2f2f2",
plot_bgcolor = " #f2f2f2",
font=dict(family='sans-serif',
                  color='black',
                  size=12),


)
fig.show()

Analisis :    

Tiap tahunnya mayoritas transaksi masih dibatalkan walaupun tiap tahunnya jumlahnya berkurang.

# Rekomendasi 

1. Dapat meningkatkan promosi dan diskon pada saat bulan-bulan terdapat kenaikan yang signigikan.

2. Menambah variasi diskon dan produk dalam kategori yang mendominasi.

3. Melakukan survei kenepa transaksi dibatalkan dan mengambil keputusan berdasarkan hasil survei.